@import url(https://fonts.googleapis.com/css?family=DM+Sans:regular,500,600&display=swap);
@font-face {
  font-family: Lufga;
  src: url(../../fonts/Lufga-SemiBold.woff2) format("woff2"),url(../../fonts/Lufga-SemiBold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap
}
@font-face {
  font-family: Lufga;
  src: url(../../fonts/Lufga-Medium.woff2) format("woff2"),url(../../fonts/Lufga-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap
}
@font-face {
  font-family: Lufga;
  src: url(../../fonts/Lufga-Regular.woff2) format("woff2"),url(../../fonts/Lufga-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}
:root {
  --white: #fff;
  --bg-primary: #1d1e20;
  --bg-secondary: #0f1114;
  --bg-dark: #151619;
  --text-primary: #fff;
  --text-gray: #d7d7d8;
  --text-secondary: #83868d;
  --text-accent: #99e1d9;
  --hover: #99e1d9
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 360px
}
body {
  color: var(--text-primary);
  line-height: 1.2;
  font-family: "DM Sans";
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: "DM Sans";
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent
}
ul li {
  list-style: none
}
img,
svg {
  max-width: 100%;
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  background-color: var(--bg-primary)
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 78.5rem;
  margin: 0 auto;
  padding: 0 1rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: 1rem 1fr minmax(auto,76.5rem) 1fr 1rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.menu__list {
  display: flex
}
.menu__link {
  font-family: Lufga;
  font-size: 1.125rem;
  transition: color .3s ease
}
.icon-menu {
  display: none
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--white);
  font-family: Lufga;
  font-size: .9375rem;
  font-weight: 500;
  line-height: 1;
  border-radius: 3.125rem;
  border: .125rem solid #3d3f43;
  padding: .625rem 1.125rem;
  min-height: 2.75rem
}
.button--arrow {
  width: 2.625rem;
  height: 2.625rem;
  position: relative;
  border-color: #2f776f
}
.button--arrow span {
  overflow: hidden;
  width: 0;
  transition: all 0s ease
}
.button--arrow svg {
  position: absolute;
  -o-object-fit: contain;
  object-fit: contain;
  transition: all .3s ease
}
.button--arrow svg path {
  transition: fill .3s ease
}
.main-title {
  font-family: Lufga;
  font-weight: 500;
  line-height: 1.06;
  background: linear-gradient(87deg,#fff 30.34%,#929baf 99.16%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}
.main-title span {
  display: block;
  background: linear-gradient(88deg,#99e1d9 .11%,#3b736d 99.89%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}
.title {
  font-family: Lufga;
  font-weight: 500;
  line-height: 1.04;
  max-width: -webkit-max-content;
  max-width: max-content;
  background: linear-gradient(87deg,#fff 30.34%,#929baf 99.16%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}
.contacts__row:not(:last-child) {
  margin-bottom: 2.5rem
}
.contacts__row:nth-child(n+2) .contacts__title {
  font-size: .875rem;
  font-weight: 500;
  text-transform: uppercase
}
.contacts__row:nth-child(n+2) .contacts__title:not(:last-child) {
  margin-bottom: .75rem
}
.contacts__title {
  font-family: Lufga;
  font-size: 1.125rem
}
.contacts__title:not(:last-child) {
  margin-bottom: 1rem
}
.contacts__link {
  display: block;
  color: var(--text-secondary);
  line-height: 1.5;
  transition: color .3s ease
}
.contacts__link:not(:last-child) {
  margin-bottom: .5rem
}
.pages-hero {
  margin-top: -.625rem;
  padding-bottom: 2.5rem
}
.pages-hero--sm {
  padding-top: 1.5rem;
  padding-bottom: 3.125rem
}
.pages-hero__container {
  position: relative;
  display: flex;
  align-items: center
}
.pages-hero__bg {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: -1
}
.header {
  position: relative;
  z-index: 10
}
.header__container {
  display: flex;
  align-items: center;
  padding-top: .375rem;
  padding-bottom: .375rem
}
.header__container::after {
  content: "";
  position: absolute;
  background: url(../img/header/decore.svg) 0 0/contain no-repeat;
  top: 0;
  z-index: -1;
  pointer-events: none;
  height: 14.375rem
}
.header__logo {
  position: relative;
  z-index: 2
}
.footer {
  padding-top: 5rem;
  background-color: var(--bg-dark);
  position: relative
}
.footer::before {
  content: "";
  position: absolute;
  top: -30.625rem;
  background: url(../img/footer/decor.svg) center/cover no-repeat;
  width: 150.75rem;
  height: 75rem;
  z-index: -1;
  right: 50%
}
.footer__container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem
}
.footer__column:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: space-between
}
.footer__logo {
  width: 10rem;
  height: 1.875rem
}
.footer__copy {
  color: var(--text-secondary);
  font-size: .875rem
}
.footer__list {
  display: grid;
  gap: 1.5rem;
  font-family: Lufga;
  font-size: 1.125rem
}
.hero {
  position: relative
}
.hero__container {
  display: flex;
  gap: .8125rem;
  position: relative
}
.hero__image {
  flex-shrink: 0
}
.hero__bg {
  position: absolute;
  bottom: 0;
  right: 0;
  -o-object-fit: contain;
  object-fit: contain;
  z-index: -1
}
.preview__container>:not(:last-child) {
  margin-bottom: 2rem
}
.preview__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem
}
.preview__body {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill,minmax(13.125rem,1fr))
}
.item-preview {
  position: relative;
  border-radius: .75rem;
  overflow: hidden
}
.item-preview__wrapper {
  position: relative;
  z-index: 3;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 2rem 1.5rem 1.5rem
}
.item-preview::after,
.item-preview::before,
.item-preview__image {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: opacity .5s ease
}
.item-preview::after {
  opacity: 0
}
.item-preview:nth-child(5n+1)::before {
  background: radial-gradient(116.12% 162.57% at 16.38% 28.8%,#1c397d 29.19%,rgba(23,31,48,.46) 100%) 50%/cover no-repeat
}
.item-preview:nth-child(5n+1)::after {
  background: radial-gradient(116.12% 162.57% at 16.38% 28.8%,#254ca7 29.19%,rgba(40,53,83,.46) 100%) 50%/cover no-repeat
}
.item-preview:nth-child(5n+2)::before {
  background: radial-gradient(116.12% 162.57% at 16.38% 28.8%,#1c6a7d 29.19%,rgba(23,43,48,.46) 100%) 50%/cover no-repeat
}
.item-preview:nth-child(5n+2)::after {
  background: radial-gradient(116.12% 162.57% at 16.38% 28.8%,#258da7 29.19%,rgba(40,74,83,.46) 100%) 50%/cover no-repeat
}
.item-preview:nth-child(5n+3)::before {
  background: radial-gradient(116.12% 162.57% at 16.38% 28.8%,#1f1c7d 29.19%,rgba(24,23,48,.46) 100%) 50%/cover no-repeat
}
.item-preview:nth-child(5n+3)::after {
  background: radial-gradient(116.12% 162.57% at 16.38% 28.8%,#2925a7 29.19%,rgba(41,40,83,.46) 100%) 50%/cover no-repeat
}
.item-preview:nth-child(5n+4)::before {
  background: radial-gradient(116.12% 162.57% at 16.38% 28.8%,#5a7d1c 29.19%,rgba(39,48,23,.46) 100%) 50%/cover no-repeat
}
.item-preview:nth-child(5n+4)::after {
  border-radius: var(--corner2,12px);
  background: radial-gradient(116.12% 162.57% at 16.38% 28.8%,#719f23 29.19%,rgba(67,83,40,.46) 100%) 50%/cover no-repeat
}
.item-preview:nth-child(5n+5)::before {
  background: radial-gradient(116.12% 162.57% at 16.38% 28.8%,#1c7d2f 29.19%,rgba(23,48,28,.46) 100%) 50%/cover no-repeat
}
.item-preview:nth-child(5n+5)::after {
  background: radial-gradient(116.12% 162.57% at 16.38% 28.8%,#239f3c 29.19%,rgba(40,83,48,.46) 100%) 50%/cover no-repeat
}
.item-preview__content {
  pointer-events: none;
  display: grid;
  gap: 1rem;
  color: var(--white)
}
.item-preview__icon {
  width: 1.25rem;
  height: 1.0625rem;
  display: grid;
  place-items: center
}
.item-preview__title {
  font-family: Lufga;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.08
}
.item-preview__text {
  color: var(--text-gray);
  font-size: .9375rem
}
.item-preview__button {
  align-self: flex-end
}
.item-preview__image {
  -o-object-fit: cover;
  object-fit: cover;
  z-index: -1
}
.partners__container {
  position: relative
}
.partners__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem
}
.partners__header:not(:last-child) {
  margin-bottom: 2rem
}
.partners__slider {
  clip-path: inset(-166px -166px -166px 0);
  margin-inline: -1.25rem;
  padding-inline: .625rem
}
.partners__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 92.892157%;
  height: 186.68942%;
  z-index: -1;
  -o-object-fit: contain;
  object-fit: contain
}
.slide-partners {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: .125rem solid #27282b;
  background: rgba(34,35,37,.7);
  -webkit-backdrop-filter: blur(.9375rem);
  backdrop-filter: blur(.9375rem);
  border-radius: .75rem
}
.slide-partners__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center
}
.slide-partners__logo {
  display: grid;
  place-items: center;
  margin-inline: auto;
  position: relative
}
.slide-partners__logo:not(:last-child) {
  margin-bottom: 1rem
}
.slide-partners__logo img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: contain;
  object-fit: contain
}
.slide-partners__title {
  color: var(--text-gray);
  font-family: Lufga;
  font-size: 1.0625rem;
  font-weight: 500;
  line-height: 1.11
}
.slide-partners__title:not(:last-child) {
  margin-bottom: .25rem
}
.slide-partners__subtitle {
  color: var(--text-secondary);
  font-size: .875rem;
  font-weight: 500
}
.about {
  padding-bottom: 12.5rem
}
.about__header:not(:last-child) {
  margin-bottom: 2rem
}
.about__body {
  display: flex
}
.about__grid {
  flex: 0 0 43.7%
}
.about__content {
  flex: 0 1 49.3%
}
.grid-about {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1rem
}
.grid-about__item {
  grid-row: span 10;
  border-radius: .75rem;
  border: .125rem solid #27282b
}
.grid-about__item--small {
  grid-row: span 9;
  height: 11.25rem
}
.grid-about__item:nth-child(1) {
  background: radial-gradient(110.91% 150.37% at 136.21% 151.96%,#22504b 0,#222325 100%)
}
.grid-about__item:nth-child(2) {
  background: radial-gradient(109.59% 165.05% at -42.67% 158.37%,#22504b 0,#222325 94.23%)
}
.grid-about__item:nth-child(3) {
  background: radial-gradient(166.86% 161.3% at -20.69% -86.59%,#22504b 0,#222325 100%)
}
.grid-about__item:nth-child(4) {
  background: radial-gradient(114.03% 127.98% at 125.43% -27%,#224f4a 0,#222325 100%)
}
.grid-about__wrapper {
  text-align: center;
  display: grid;
  align-items: center;
  justify-content: center
}
.grid-about__value {
  font-family: Lufga;
  font-weight: 500
}
.grid-about__description {
  color: var(--text-gray)
}
.grid-about__description span {
  color: var(--hover)
}
.content-about {
  display: grid;
  gap: 2.5rem
}
.content-about__text {
  font-size: 1.125rem;
  line-height: 1.44
}
.content-about__image {
  flex-shrink: 0;
  position: relative
}
.content-about__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: .75rem .75rem .75rem 12.5rem
}
.industries {
  padding-top: 2.5rem;
  padding-bottom: 12.5rem
}
.industries__container {
  display: grid;
  gap: 5rem
}
.industries__item {
  display: flex;
  gap: 2.5rem
}
.industries__header {
  max-width: 22.25rem
}
.industries__title:not(:last-child) {
  margin-bottom: .5rem
}
.industries__text {
  color: var(--text-secondary);
  line-height: 1.3
}
.industries__text:not(:last-child) {
  margin-bottom: 1rem
}
.industries__image {
  border-radius: .75rem .75rem .75rem 6.25rem;
  opacity: .6;
  height: 3.75rem
}
.grid-industries {
  counter-reset: myCounter;
  list-style: none;
  display: grid;
  gap: 1rem
}
.grid-industries__item {
  min-height: 12.5rem;
  position: relative;
  border-radius: .75rem;
  overflow: hidden;
  font-family: Lufga
}
.grid-industries__item:before,
.grid-industries__item>* {
  position: relative;
  z-index: 3
}
.grid-industries__item:before {
  content: "0" counter(myCounter);
  counter-increment: myCounter;
  font-size: 3.625rem;
  font-weight: 600;
  background: linear-gradient(90deg,#4161b0 0,#2e4c95 100%);
  background-clip: text!important;
  -webkit-background-clip: text!important;
  -webkit-text-fill-color: transparent!important
}
.grid-industries__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity .5s ease
}
.grid-industries--blue .grid-industries__item {
  background: radial-gradient(116.12% 162.57% at 16.38% 28.8%,#1c397d 29.19%,#171f30 100%)
}
.grid-industries--blue .grid-industries__item::after {
  background: radial-gradient(116.12% 162.57% at 16.38% 28.8%,#1c4097 29.19%,#171f30 100%)
}
.grid-industries--turquoise .grid-industries__item {
  background: radial-gradient(116.12% 162.57% at 16.38% 28.8%,#1c6a7d 29.19%,#172b30 100%)
}
.grid-industries--turquoise .grid-industries__item::before {
  background: linear-gradient(90deg,#4199b0 0,#2e8195 100%)
}
.grid-industries--turquoise .grid-industries__item::after {
  background: radial-gradient(116.12% 162.57% at 16.38% 28.8%,#23768b 29.19%,#172b30 100%)
}
.grid-industries--purple .grid-industries__item {
  background: radial-gradient(116.12% 162.57% at 16.38% 28.8%,#1f1c7d 29.19%,#181730 100%)
}
.grid-industries--purple .grid-industries__item::before {
  background: linear-gradient(90deg,#4441b0 0,#312e95 100%)
}
.grid-industries--purple .grid-industries__item::after {
  background: radial-gradient(116.12% 162.57% at 16.38% 28.8%,#242188 29.19%,#181730 100%)
}
.grid-industries--yellow .grid-industries__item {
  background: radial-gradient(116.12% 162.57% at 16.38% 28.8%,#5a7d1c 29.19%,#273017 100%)
}
.grid-industries--yellow .grid-industries__item::before {
  background: linear-gradient(90deg,#87b041 0,#70952e 100%)
}
.grid-industries--yellow .grid-industries__item::after {
  background: radial-gradient(116.12% 162.57% at 16.38% 28.8%,#5f8420 29.19%,#273017 100%)
}
.grid-industries--green .grid-industries__item {
  background: radial-gradient(116.12% 162.57% at 16.38% 28.8%,#1c7d2f 29.19%,#17301c 100%)
}
.grid-industries--green .grid-industries__item::before {
  background: linear-gradient(90deg,#41b057 0,#2e9543 100%)
}
.grid-industries--green .grid-industries__item::after {
  background: radial-gradient(116.12% 162.57% at 16.38% 28.8%,#228937 29.19%,#17301c 100%)
}
.grid-industries__item>:not(:last-child) {
  margin-bottom: .5rem
}
.grid-industries__description {
  font-weight: 500
}
.partners-block {
  padding-top: 3.75rem;
  padding-bottom: 12.5rem
}
.partners-block__container {
  position: relative;
  display: grid;
  gap: 1rem
}
.partners-block__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1
}
.item-partner {
  height: 16.25rem;
  display: block;
  -webkit-tap-highlight-color: transparent
}
.item-partner.open-item {
  z-index: 2
}
.item-partner__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: -webkit-max-content;
  height: max-content;
  align-items: center;
  border-radius: .75rem;
  border: .125rem solid #27282b;
  background: rgba(34,35,37,.7);
  -webkit-backdrop-filter: blur(.9375rem);
  backdrop-filter: blur(.9375rem);
  text-align: center;
  box-shadow: 0 1.8125rem 2.5rem -2.0625rem rgba(12,67,196,0);
  transition: box-shadow .5s ease;
  position: relative;
  height: 100%
}
.item-partner__wrapper>* {
  pointer-events: none
}
.item-partner__logo {
  position: relative
}
.item-partner__logo img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: contain;
  object-fit: contain
}
.item-partner__logo:not(:last-child) {
  margin-bottom: 1rem
}
.item-partner__title {
  color: var(--text-gray);
  font-family: Lufga;
  font-size: 1.0625rem;
  font-weight: 500;
  line-height: 1.12
}
.item-partner__title:not(:last-child) {
  margin-bottom: .375rem
}
.item-partner__location {
  color: var(--text-secondary);
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.3
}
.item-partner__button-icon {
  flex: 0 0 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  display: grid;
  place-items: center
}
.open-item .item-partner__button-icon {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}
.item-partner__cover {
  display: grid;
  gap: 1rem
}
.item-partner__description {
  font-size: 1.0625rem;
  line-height: 1.3
}
.item-partner__link {
  pointer-events: all;
  color: var(--hover);
  font-size: .875rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem
}
.item-partner__link-icon {
  flex: 0 0 1rem;
  width: 1rem;
  height: 1rem
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@font-face {
  font-family: swiper-icons;
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA");
  font-weight: 400;
  font-style: normal
}
:root {
  --swiper-theme-color: #007aff
}
.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1
}
.swiper-vertical>.swiper-wrapper {
  flex-direction: column
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform,-webkit-transform;
  box-sizing: content-box
}
.swiper-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-pointer-events {
  touch-action: pan-y
}
.swiper-pointer-events.swiper-vertical {
  touch-action: pan-x
}
.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform,-webkit-transform
}
.swiper-slide-invisible-blank {
  visibility: hidden
}
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: height,-webkit-transform;
  transition-property: transform,height;
  transition-property: transform,height,-webkit-transform
}
.swiper-3d,
.swiper-3d.swiper-css-mode .swiper-wrapper {
  -webkit-perspective: 1200px;
  perspective: 1200px
}
.swiper-3d .swiper-cube-shadow,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-wrapper {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d
}
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10
}
.swiper-3d .swiper-slide-shadow {
  background: rgba(0,0,0,.15)
}
.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left,rgba(0,0,0,.5),rgba(0,0,0,0))
}
.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,0))
}
.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top,rgba(0,0,0,.5),rgba(0,0,0,0))
}
.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,0))
}
.swiper-css-mode>.swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none
}
.swiper-css-mode>.swiper-wrapper::-webkit-scrollbar {
  display: none
}
.swiper-css-mode>.swiper-wrapper>.swiper-slide {
  scroll-snap-align: start start
}
.swiper-horizontal.swiper-css-mode>.swiper-wrapper {
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory
}
.swiper-vertical.swiper-css-mode>.swiper-wrapper {
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory
}
.swiper-centered>.swiper-wrapper::before {
  content: "";
  flex-shrink: 0;
  order: 9999
}
.swiper-centered.swiper-horizontal>.swiper-wrapper>.swiper-slide:first-child {
  -webkit-margin-start: var(--swiper-centered-offset-before);
  margin-inline-start: var(--swiper-centered-offset-before)
}
.swiper-centered.swiper-horizontal>.swiper-wrapper::before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after)
}
.swiper-centered.swiper-vertical>.swiper-wrapper>.swiper-slide:first-child {
  -webkit-margin-before: var(--swiper-centered-offset-before);
  margin-block-start: var(--swiper-centered-offset-before)
}
.swiper-centered.swiper-vertical>.swiper-wrapper::before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after)
}
.swiper-centered>.swiper-wrapper>.swiper-slide {
  scroll-snap-align: center center
}
.swiper-virtual.swiper-css-mode .swiper-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none
}
.swiper-virtual.swiper-css-mode.swiper-horizontal .swiper-wrapper::after {
  height: 1px;
  width: var(--swiper-virtual-size)
}
.swiper-virtual.swiper-css-mode.swiper-vertical .swiper-wrapper::after {
  width: 1px;
  height: var(--swiper-virtual-size)
}
:root {
  --swiper-navigation-size: 44px
}
.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size)/44*27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - var(--swiper-navigation-size)/ 2);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color,var(--swiper-theme-color))
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: .35;
  cursor: auto;
  pointer-events: none
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 10px;
  right: auto
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "prev"
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 10px;
  left: auto
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "next"
}
.swiper-button-lock {
  display: none
}
.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: .3s opacity;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  z-index: 10
}
.swiper-pagination.swiper-pagination-hidden {
  opacity: 0
}
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%
}
.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transform: scale(.33);
  transform: scale(.33);
  position: relative
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  -webkit-transform: scale(1);
  transform: scale(1)
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  -webkit-transform: scale(1);
  transform: scale(1)
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  -webkit-transform: scale(.66);
  transform: scale(.66)
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  -webkit-transform: scale(.33);
  transform: scale(.33)
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  -webkit-transform: scale(.66);
  transform: scale(.66)
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  -webkit-transform: scale(.33);
  transform: scale(.33)
}
.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,8px));
  height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,8px));
  display: inline-block;
  border-radius: 50%;
  background: var(--swiper-pagination-bullet-inactive-color,#000);
  opacity: var(--swiper-pagination-bullet-inactive-opacity,.2)
}
button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none
}
.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer
}
.swiper-pagination-bullet:only-child {
  display: none!important
}
.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity,1);
  background: var(--swiper-pagination-color,var(--swiper-theme-color))
}
.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical>.swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0,-50%,0);
  transform: translate3d(0,-50%,0)
}
.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: var(--swiper-pagination-bullet-vertical-gap,6px) 0;
  display: block
}
.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 8px
}
.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  transition: .2s transform,.2s top
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap,4px)
}
.swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  white-space: nowrap
}
.swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: .2s transform,.2s left
}
.swiper-horizontal.swiper-rtl>.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: .2s transform,.2s right
}
.swiper-pagination-progressbar {
  background: rgba(0,0,0,.25);
  position: absolute
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--swiper-pagination-color,var(--swiper-theme-color));
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: left top;
  transform-origin: left top
}
.swiper-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  -webkit-transform-origin: right top;
  transform-origin: right top
}
.swiper-horizontal>.swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
.swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0
}
.swiper-horizontal>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-vertical,
.swiper-vertical>.swiper-pagination-progressbar {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0
}
.swiper-pagination-lock {
  display: none
}
.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0,0,0,.1)
}
.swiper-horizontal>.swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%
}
.swiper-vertical>.swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%
}
.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0,0,0,.5);
  border-radius: 10px;
  left: 0;
  top: 0
}
.swiper-scrollbar-cursor-drag {
  cursor: move
}
.swiper-scrollbar-lock {
  display: none
}
.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center
}
.swiper-zoom-container>canvas,
.swiper-zoom-container>img,
.swiper-zoom-container>svg {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain
}
.swiper-slide-zoomed {
  cursor: move
}
.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s infinite linear;
  animation: swiper-preloader-spin 1s infinite linear;
  box-sizing: border-box;
  border: 4px solid var(--swiper-preloader-color,var(--swiper-theme-color));
  border-radius: 50%;
  border-top-color: transparent
}
.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff
}
.swiper-lazy-preloader-black {
  --swiper-preloader-color: #000
}
@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}
@keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}
.swiper .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000
}
.swiper-free-mode>.swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto
}
.swiper-grid>.swiper-wrapper {
  flex-wrap: wrap
}
.swiper-grid-column>.swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: column
}
.swiper-fade.swiper-free-mode .swiper-slide {
  transition-timing-function: ease-out
}
.swiper-fade .swiper-slide {
  pointer-events: none;
  transition-property: opacity
}
.swiper-fade .swiper-slide .swiper-slide {
  pointer-events: none
}
.swiper-fade .swiper-slide-active,
.swiper-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto
}
.swiper-cube {
  overflow: visible
}
.swiper-cube .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
  visibility: hidden;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 100%;
  height: 100%
}
.swiper-cube .swiper-slide .swiper-slide {
  pointer-events: none
}
.swiper-cube.swiper-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0
}
.swiper-cube .swiper-slide-active,
.swiper-cube .swiper-slide-active .swiper-slide-active {
  pointer-events: auto
}
.swiper-cube .swiper-slide-active,
.swiper-cube .swiper-slide-next,
.swiper-cube .swiper-slide-next+.swiper-slide,
.swiper-cube .swiper-slide-prev {
  pointer-events: auto;
  visibility: visible
}
.swiper-cube .swiper-slide-shadow-bottom,
.swiper-cube .swiper-slide-shadow-left,
.swiper-cube .swiper-slide-shadow-right,
.swiper-cube .swiper-slide-shadow-top {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden
}
.swiper-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: .6;
  z-index: 0
}
.swiper-cube .swiper-cube-shadow:before {
  content: "";
  background: #000;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-filter: blur(50px);
  filter: blur(50px)
}
.swiper-flip {
  overflow: visible
}
.swiper-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1
}
.swiper-flip .swiper-slide .swiper-slide {
  pointer-events: none
}
.swiper-flip .swiper-slide-active,
.swiper-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto
}
.swiper-flip .swiper-slide-shadow-bottom,
.swiper-flip .swiper-slide-shadow-left,
.swiper-flip .swiper-slide-shadow-right,
.swiper-flip .swiper-slide-shadow-top {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden
}
.swiper-creative .swiper-slide {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  transition-property: opacity,height,-webkit-transform;
  transition-property: transform,opacity,height;
  transition-property: transform,opacity,height,-webkit-transform
}
.swiper-cards {
  overflow: visible
}
.swiper-cards .swiper-slide {
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden
}
@media (min-width:29.99875em) {
  .main-title {
    font-size: 3rem
  }
  .title {
    font-size: 2.5rem
  }
  .footer {
    padding-bottom: 5rem
  }
  .hero__bg {
    width: 90%;
    height: 95%
  }
  .item-preview {
    min-height: 25rem
  }
  .partners {
    padding-block: 5.625rem
  }
  .slide-partners {
    padding: 2rem 1.5rem
  }
  .slide-partners__logo {
    width: 9.375rem;
    height: 4.125rem
  }
  .about {
    padding-top: 5.625rem
  }
  .grid-about {
    max-width: 30rem
  }
  .grid-about__item {
    padding: 2rem;
    height: 12.5rem
  }
  .content-about__image {
    padding-bottom: 43.5%
  }
  .grid-industries {
    grid-template-columns: repeat(auto-fit,minmax(12.5rem,1fr))
  }
  .grid-industries__item {
    padding: .75rem 1.5rem
  }
  .partners-block__container {
    grid-template-columns: repeat(auto-fill,minmax(11.25rem,1fr))
  }
  .item-partner__wrapper {
    transition: all .3s ease;
    padding: 2rem 1.5rem
  }
  .item-partner__logo {
    width: 9.375rem;
    height: 4.125rem
  }
}
@media (any-hover:none)and (min-width:29.99875em) {
  .item-partner__cover {
    transition: all .3s ease
  }
}
@media (min-width:48.06125em) {
  .menu__list {
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: .25rem 1.5rem
  }
  .menu__contacts {
    display: none
  }
  .main-title {
    font-size: 4rem
  }
  .title {
    font-size: 3.0625rem
  }
  .pages-hero__container {
    min-height: 17.625rem
  }
  .pages-hero--sm .pages-hero__container {
    min-height: 14.375rem
  }
  .pages-hero__bg {
    width: 87%;
    right: 0;
    -o-object-fit: contain;
    object-fit: contain
  }
  .header__container {
    min-height: 8.4375rem
  }
  .header__container::after {
    width: 90%;
    left: -5%
  }
  .header__logo {
    width: 11.25rem;
    height: 2.125rem
  }
  .footer::before {
    -webkit-transform: translateX(40%) rotate(3deg);
    transform: translateX(40%) rotate(3deg)
  }
  .footer__container {
    justify-content: space-between;
    padding-right: 15%
  }
  .footer__column {
    max-width: 12.5rem
  }
  .hero {
    padding-top: .9375rem;
    padding-bottom: 4.375rem
  }
  .hero__title {
    flex: 0 0 40rem
  }
  .preview {
    padding-top: 4.375rem;
    padding-bottom: 5.625rem
  }
  .partners__bg {
    -webkit-transform: translateX(-65%);
    transform: translateX(-65%)
  }
  .about__body {
    align-items: flex-start;
    justify-content: space-between;
    gap: 1.25rem;
    max-width: 68.75rem
  }
  .industries__item {
    align-items: flex-start;
    justify-content: space-between
  }
  .industries__header {
    flex: 0 0 31%;
    position: sticky;
    width: 100%;
    left: 0;
    top: 1.25rem
  }
  .industries__grid {
    flex: 0 1 59.5%
  }
  .grid-industries__description {
    font-size: 1.0625rem;
    line-height: 1.17
  }
  .partners-block__container {
    grid-template-columns: repeat(auto-fill,minmax(15rem,1fr))
  }
  .partners-block__bg {
    -webkit-transform: translateX(-60%) rotate(180deg);
    transform: translateX(-60%) rotate(180deg)
  }
}
@media (min-width:61.99875em) {
  .industries__item {
    padding-right: 5%
  }
}
@media (min-width:78.5em) {
  .header__container {
    gap: 11.25rem
  }
  .hero__title {
    padding-top: 10.6875rem
  }
  .hero__image {
    width: 34.375rem
  }
  .hero__image {
    height: 34.375rem
  }
  .hero__image {
    flex-basis: 34.375rem
  }
  .slide-partners {
    min-height: 13.125rem
  }
  .grid-about__value {
    font-size: 4.5rem
  }
  .partners-block__bg {
    width: 71.0625rem
  }
  .partners-block__bg {
    height: 34.1875rem
  }
  .item-partner__wrapper {
    min-height: 16.25rem
  }
}
@media (max-width:61.99875em) {
  .footer::before {
    -webkit-transform: translateX(57%) rotate(3deg);
    transform: translateX(57%) rotate(3deg)
  }
}
@media (max-width:48.06125em) {
  .menu__body {
    position: fixed;
    max-width: 30.25rem;
    width: 100%;
    height: -webkit-max-content;
    height: max-content;
    top: 0;
    right: -100%;
    overflow: auto;
    display: flex;
    gap: 2.5rem;
    background-color: var(--bg-secondary);
    transition: right .3s
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    right: -100%;
    top: 0;
    transition: right .3s;
    z-index: 2
  }
  .menu-open .menu__body {
    right: 0
  }
  .menu-open .menu__body::before {
    right: 0
  }
  .menu__list {
    flex-direction: column;
    flex: 0 0 auto;
    gap: 1.5rem
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.5rem;
    height: 1.25rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .1875rem;
    background-color: var(--white)
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .09375rem)
  }
  .menu-open .icon-menu span {
    -webkit-transform: scale(0);
    transform: scale(0)
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .09375rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .09375rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .pages-hero__container {
    min-height: 11.75rem
  }
  .pages-hero--sm .pages-hero__container {
    min-height: 9.625rem
  }
  .pages-hero__bg {
    width: 46.4375rem;
    -o-object-fit: cover;
    object-fit: cover;
    left: 0;
    -webkit-transform: translateX(10%);
    transform: translateX(10%)
  }
  .header__container {
    gap: 3.125rem
  }
  .header__container {
    min-height: 4.625rem;
    justify-content: space-between;
    padding-block: 2rem
  }
  .header__container::after {
    width: 140%;
    left: 0
  }
  .header__logo {
    width: 8.75rem;
    height: 1.625rem
  }
  .footer__container {
    justify-content: center;
    gap: 5rem
  }
  .footer__container>* {
    flex: 0 0 50%
  }
  .footer__column {
    flex: 0 0 auto
  }
  .footer__column:nth-child(2) {
    display: none
  }
  .footer__logo:not(:last-child) {
    margin-bottom: 5rem
  }
  .footer__copy {
    text-align: center
  }
  .hero {
    padding-bottom: 3.125rem
  }
  .hero__title {
    flex: 0 0 29.375rem
  }
  .hero__bg {
    right: -15%
  }
  .preview {
    padding-top: 3.125rem;
    padding-bottom: 3.75rem
  }
  .partners__bg {
    -webkit-transform: translate(-38%,5%);
    transform: translate(-38%,5%)
  }
  .about__body {
    flex-direction: column;
    justify-content: center;
    align-items: center
  }
  .industries__item {
    flex-direction: column
  }
  .partners-block__bg {
    -webkit-transform: translateX(-38%) rotate(180deg);
    transform: translateX(-38%) rotate(180deg)
  }
}
@media (max-width:48.06125em)and (max-width:29.99875em) {
  .menu__body {
    padding: 8.1875rem 1rem 4.6875rem;
    flex-direction: column
  }
}
@media (max-width:48.06125em)and (max-width:48.06125em) {
  .menu__body::before {
    height: 4.625rem
  }
}
@media (max-width:48.06125em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:37.5em) {
  .hero__container {
    flex-wrap: wrap
  }
  .hero__title {
    flex: 1 1 auto
  }
  .hero__image {
    margin: -3.75rem -4.875rem 0 auto
  }
}
@media (max-width:29.99875em) {
  .menu__contacts {
    border-top: .0625rem solid #3d3f43;
    padding-top: 2.5rem
  }
  .main-title {
    font-size: 2.75rem
  }
  .title {
    font-size: 2.375rem
  }
  .pages-hero__bg {
    -o-object-position: 10% center;
    object-position: 10% center
  }
  .header__container::after {
    background: url(../img/header/decore-mob.svg) 0 0/contain no-repeat
  }
  .footer {
    padding-bottom: 2.5rem
  }
  .footer__container {
    flex-direction: column;
    align-items: center;
    text-align: center
  }
  .footer__column.contacts:not(:last-child) {
    margin-bottom: 2.5rem
  }
  .hero {
    padding-top: 3.75rem
  }
  .hero__bg {
    width: 31.25rem;
    height: 16.875rem;
    right: 50%;
    -webkit-transform: translateX(50%) scale(1.2);
    transform: translateX(50%) scale(1.2)
  }
  .preview__button {
    display: none
  }
  .partners {
    padding-block: 3.75rem
  }
  .slide-partners {
    padding: 1.5rem 1rem
  }
  .slide-partners__logo {
    width: 6.875rem;
    height: 2.5rem
  }
  .about {
    padding-top: 3.75rem
  }
  .about__body {
    gap: 2.5rem
  }
  .grid-about__item {
    padding: 1.5rem 1rem
  }
  .content-about__image {
    height: 14.75rem
  }
  .grid-industries {
    grid-template-columns: repeat(auto-fit,minmax(9.375rem,1fr))
  }
  .grid-industries__item {
    padding: .75rem 1rem 2rem
  }
  .grid-industries__description {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.12
  }
  .partners-block__container {
    grid-template-columns: repeat(2,1fr)
  }
  .partners-block__bg {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: left;
    object-position: left;
    -webkit-transform: translate(-1%,20%) rotate(180deg);
    transform: translate(-1%,20%) rotate(180deg)
  }
  .item-partner.open-item {
    z-index: 2;
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 1rem;
    width: calc(100% - 2rem);
    height: -webkit-max-content;
    height: max-content
  }
  .item-partner__wrapper {
    padding: 2rem 1rem
  }
  .item-partner__logo {
    width: 6.25rem;
    height: 3rem
  }
}
@media (any-hover:none)and (max-width:29.99875em) {
  .open-item .item-partner__wrapper {
    min-height: 20.75rem
  }
}
@media (max-width:22.5em) {
  .hero__image {
    width: 15.625rem
  }
  .hero__image {
    height: 15.625rem
  }
  .hero__image {
    flex-basis: 15.625rem
  }
  .slide-partners {
    min-height: 10rem
  }
  .grid-about__value {
    font-size: 2.875rem
  }
  .partners-block__bg {
    width: 39.9375rem
  }
  .partners-block__bg {
    height: 19.1875rem
  }
  .item-partner__wrapper {
    min-height: 13.125rem
  }
}
@media (max-width:48.06125em)and (min-width:29.99875em) {
  .menu__body {
    border-bottom-left-radius: 1rem;
    padding: 6rem 2rem 1.5rem
  }
}
@media (max-width:48.06125em)and (min-width:48.06125em) {
  .menu__body::before {
    height: 8.4375rem
  }
}
@media (min-width:29.99875em)and (max-width:48.06125em) {
  .menu__contacts {
    padding-left: 2.5rem;
    border-left: .0625rem solid #3d3f43
  }
}
@media (min-width:48.06125em)and (max-width:78.5em) {
  .header__container {
    gap: clamp(3.125rem ,-9.7039649296rem + 26.6929489549vw ,11.25rem)
  }
}
@media (min-width:29.99875em)and (max-width:78.5em) {
  .hero__title {
    padding-top: clamp(3.75rem ,-.5409477204rem + 14.3037550579vw ,10.6875rem)
  }
}
@media (min-width:22.5em)and (max-width:78.5em) {
  .hero__image {
    width: clamp(15.625rem ,8.0915178571rem + 33.4821428571vw ,34.375rem)
  }
  .hero__image {
    height: clamp(15.625rem ,8.0915178571rem + 33.4821428571vw ,34.375rem)
  }
  .hero__image {
    flex-basis: clamp(15.625rem ,8.0915178571rem + 33.4821428571vw ,34.375rem)
  }
  .slide-partners {
    min-height: clamp(10rem ,8.7444196429rem + 5.5803571429vw ,13.125rem)
  }
  .grid-about__value {
    font-size: clamp(2.875rem ,2.2220982143rem + 2.9017857143vw ,4.5rem)
  }
  .partners-block__bg {
    width: clamp(39.9375rem ,27.4319196429rem + 55.5803571429vw ,71.0625rem)
  }
  .partners-block__bg {
    height: clamp(19.1875rem ,13.1607142857rem + 26.7857142857vw ,34.1875rem)
  }
  .item-partner__wrapper {
    min-height: clamp(13.125rem ,11.8694196429rem + 5.5803571429vw ,16.25rem)
  }
}
@media (min-width:29.99875em)and (max-width:61.99875em) {
  .about__body {
    gap: clamp(2.5rem ,1.5625390625rem + 3.125vw ,3.5rem)
  }
}
@media (any-hover:hover) {
  .menu__link:hover {
    color: var(--hover)
  }
  .button {
    transition: border-color .3s ease
  }
  .button:hover {
    border-color: var(--hover)
  }
  .button--arrow:hover,
  .item-preview:hover .button--arrow {
    width: -webkit-max-content;
    width: max-content;
    border-color: var(--hover)
  }
  .button--arrow:hover span,
  .item-preview:hover .button--arrow span {
    width: -webkit-max-content;
    width: max-content;
    padding-right: 2.875rem;
    transition: all .3s ease
  }
  .button--arrow:hover svg,
  .item-preview:hover .button--arrow svg {
    right: .25rem
  }
  .button--arrow:hover svg path,
  .item-preview:hover .button--arrow svg path {
    fill: var(--white)
  }
  .contacts__link:hover {
    color: var(--hover)
  }
  .footer__list-link {
    transition: color .3s ease
  }
  .footer__list-link:hover {
    color: var(--hover)
  }
  .item-preview:hover::after {
    opacity: .4
  }
  .grid-industries__item:hover::after {
    opacity: 1
  }
  .item-partner__wrapper:hover {
    box-shadow: 0 1.8125rem 2.5rem -2.0625rem rgba(12,67,196,.5)
  }
  .item-partner__button {
    display: none
  }
  .item-partner__cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 1.5rem;
    border-radius: .75rem;
    border: .125rem solid var(--hover);
    background-color: rgba(20,31,52,.6);
    -webkit-backdrop-filter: blur(.625rem);
    backdrop-filter: blur(.625rem);
    opacity: 0;
    transition: opacity .7s ease
  }
  .item-partner:hover .item-partner__cover {
    opacity: 1
  }
}
@media (any-hover:none) {
  .open-item .item-partner__wrapper {
    border: .125rem solid var(--hover);
    min-height: 25rem;
    box-shadow: 0 1.8125rem 2.5rem -2.0625rem rgba(12,67,196,.5)
  }
  .item-partner__button {
    pointer-events: all;
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .125rem;
    margin-top: 1rem;
    color: var(--hover);
    font-size: .9375rem;
    font-weight: 600;
    line-height: 1.13
  }
  .open-item .item-partner__button span {
    font-size: 0
  }
  .open-item .item-partner__button span::before {
    content: "less";
    font-size: .9375rem
  }
  .item-partner__cover {
    overflow: hidden;
    max-height: 0
  }
  .open-item .item-partner__cover {
    padding-top: 1rem;
    max-height: 18.75rem
  }
}